<div class="thumbnail">
  <img src="http://iph.href.lu/820x230" alt="" srcset="">
  <div>
    <h4>{{product.price|currency:'￥'}}元</h4>
    <h4>{{product.title}}</h4>
    <p>{{product.desc}}</p>
  </div>
  <div>
    <p>{{comments.length}}个评论</p>
    <p>
      <app-stars [rating]="product.rating"></app-stars>
    </p>
  </div>
</div>


<div class="well">
  <div class="row" *ngFor="let item of comments">
    <hr>
    <div class="col-md-12">
      <app-stars [rating]="item.rating"></app-stars>
      <span>{{item.user}}</span>
      <span>{{item.timestamp|date:'y-m-d:H:m:s'}}</span>
      <p>{{item.content}}</p>
    </div>
  </div>
</div>