<div class="thumbnail">
  <img src="http://iph.href.lu/820x230" alt="" srcset="">
  <div>
    <h4>{{product?.price|currency:'￥'}}元</h4>
    <h4>{{product?.title}}</h4>
    <p>{{product?.desc}}</p>
  </div>
  <div>
    <p>{{comments?.length}}个评论</p>
    <p>
      <app-stars [rating]="product?.rating|number:'1.0-2'"></app-stars>
    </p>
  </div>
</div>

<div class="thumbnail">
  <button (click)="watchProduct()" [class.active]="isWatched" class="btn btn-default btn-lg">{{isWatched?"取消关注":"关注"}}</button>
  <label>最新出价:{{currentBid|number:'.2-2'}}元</label>
</div>

<div class="well">
  <div>
    <button class="btn btn-success" (click)="isCommentHidden=!isCommentHidden">发表评论</button>
  </div>
  <div [hidden]="isCommentHidden">
    <div>
      <app-stars [readonly]="false" [(rating)]="newRating"></app-stars>
    </div>
    <div>
      <textarea placeholder="请输入评论" class="form-control" [(ngModel)]="newComment"></textarea>
    </div>
    <div>
      <button class="btn btn-primary" (click)="addComment()">提交</button>
    </div>
  </div>
  <div class="row" *ngFor="let item of comments">
    <hr>
    <div class="col-md-12">
      <app-stars [rating]="item.rating"></app-stars>
      <span>{{item.user}}</span>
      <span>{{item.timestamp|date:'y-m-d:H:m:s'}}</span>
      <p>{{item.content}}</p>
    </div>
  </div>
</div>